<div class="login-page">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "inputLogin" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "inputLogin"%>
      </div>

      <div class="actions">
        <%= f.submit "LOGIN", class: "btnLogin" %>
      </div>
    <% end %>
  </div>

  
</div>
