/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree
 */

 @import "bootstrap";

 .management-tab{
 	padding: 15px;
	display: block;
	width: 20%;
	float: left;
}

.content{
	padding: 15px;
	padding-left: 0;
	width: 80%;
	float: right;
}

.button-edit, .button-delete{
	width: 70px;
	display: inline-block;
	float: none;
	margin: 5px;
}

.button-edit:hover, .button-delete:hover{
	cursor: pointer;
}

.mb-3{
	margin-bottom: 0.5rem !important;
}

.form-check-input{
	margin-left: 1.25rem;
	position: relative;
}

.card{
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.125);
	border-radius: 0;
}

.login-page {
	max-width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.inputLogin {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.btnLogin{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.btnLogin:hover,.btnLogin:active,.btnLogin:focus {
	background: #43A047;
}